body,ul,li,dl,dt,dd,input,form,h1,h2,h3,h4{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	display: block;
	border: none;
}
body{
	font-family: "微软雅黑";
}

body{
	background: #013169;
}
/* 头部开始 */
.header-container{
	width: 100%;
	background: #002A56;
}
.topBj{
	background-color: rgba(0,0,0,.2);
	width: 100%;
}
.top{
	width: 1090px;
	height: 30px;
	margin: 0 auto;
	
}
.t-left{
	float: left;
}
.t-right{
	float: right;
}
.t-left:first-child{
	color: #7f93a9;
    
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.t-left .sp{
	height: 30px;
    line-height: 30px;
    padding-left: 15px;
    
}
.t-left .sp a{
	color: #00aeff;
}

.t-right .list li{
	color: #7f93a9;
	font-size: 12px;
	
}
.t-right .list>li{
	float: left;
	height: 30px;
    line-height: 30px;
    position: relative;
    cursor: pointer;
    
}
.t-right .list>li span{
	border-right:1px solid #7a92ac;
	padding: 0 10px;
}
.t-right .list a{
	color: #7f93a9;
}
.t-right li:last-child span{
	padding-right: 10px;
    
}
.t-right ul.sub-menu li{
	text-align: center;
	border: 1px solid #374254;
    width: 100%;
    height: 30px;
    line-height: 30px;
	background: #011A37;
	display: none;
}
.t-right ul.sub-menu li:first-child{
	border-bottom: none;
}
.t-right ul.sub-menu li:hover a{
	color: #DAE4EF;
}
/*顶部结束*/


.logo-container{
	width: 100%;
	background: #012C60;
	height: 150px;
	
}
.logo-container .header{
	width: 1090px;
	height: 150px;
	margin: 0 auto;
}
.logo-container .h-left{
	float: left;
}
.logo-container h1{
	height: 80px;
    margin-top: 40px;
    cursor: pointer;
}
.logo-container .h-right{
	padding-top: 65px;
    float: right;
    position: relative;
    margin-right: 60px;	
}
.logo-container .search{
	background: transparent;
    border: none;
    border-bottom: 1px solid #33669b;
    height: 20px;
    padding: 0 10px;
    color: #c9d8e6;
    outline: none;
    width: 250px;
    text-indent: 1em;
}
.h-right .icon{
	height: 18px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    top: 71px;
    right: -18px;
}
.h-right a .icon{
	right: -54px;
}
.h-right .cart-count{
	display: inline-block;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    bottom: 10px;
    left: 318px;
    background: #ed871d;
    color: #fff;
    text-align: center;
	line-height: 20px;
	z-index: 200;
	font-size: 12px;
}
/*网页头部结束*/

/*导航栏开始*/
.mask{
	width: 100%;
	height: 40px;
	background: #01244D;
	position: relative;
}
.fix-width{
	width: 1090px;
	height: 40px;
	margin: 0 auto;
}

/* 顶部固定 */
.navFix{
    position: fixed !important;
    z-index: 1000;
    opacity: .8;
    top: 0;
}
/* 顶部固定结束 */

.mask>ul{
	cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}
.mask li{
	float: left;
	height: 40px;
    line-height: 40px;
    margin-right: 80px;
}
.mask>li,.mask a{
	color:#cfd2d7;
}
.mask li span,.mask a{

    display: inline-block;
    height: 30px;
	line-height: 30px;
}


.sub-category-container{
	background: rgba(0,0,0,.8);
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
	border-bottom: 1px solid #373c50;
	z-index: 1000;
	display: none;
    
}

.sub-category-container .sub-category-list{
	color: #b8bcbf;
    padding: 30px 45px 0;
	font-size: 14px;
	width: 1090px;
    margin: auto;
}

.sub-category-container .sub-category-list .sub-category-item{
	display: inline-block;
    text-align: center;
    height: 65px;
    width: 65px;
    margin-right: 68px;
    margin-bottom: 25px;
    cursor: pointer;
}
/* 轮播部分 */
.banner{
	position: relative;
    cursor: pointer;
    height: 420px;
}

.banner .slide{
    width:100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    
}
.banner .slide ul li{
    position: absolute;
    display: none;
}

.banner .sel{
    position: absolute;
    bottom: 10px;
}
.banner .sel li{
    float: left;
    width: 100px;
    height: 5px;
    margin-left:20px;
    border-radius:5px;
    background: hsla(184,7%,43%,.5);
    display: inline-block;
}
/* 角标选中 */
.banner .sel li.select{
    background: #2093c9;
}
/* 角标选中结束 */
/* 轮播部分结束*/

.content{
	width: 1090px;
	margin: 0 auto;
}
/* game-list start */
.content .game-list{
	width: 1090px;
	height: 80px;
	margin-top:50px;
	text-align: center;
}

.content .game-list li{
	background: #012a60;
    margin-right: 5px;
    border: 1px solid #264770;
    width: 13.8%;
    height: 80px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
	cursor: pointer;
	float: left;
}
.content .game-list li img{
	height: 48px;
    max-width: 80%;
    margin: 16px auto 0;
	cursor: pointer;
}
.content .game-list li span{
	display: none;
    position: absolute;
    text-align: center;
    background: rgba(0,17,37,.8);
    color: #fff;
    width: 100%;
    height: 78px;
    line-height: 80px;
    font-size: 16px;
    top: 0;
    left: 0;
}
.content .game-list li:hover span{
	display: block;
	border:1px solid #49A9E8;
}
/* game-list end */


/* 人气热销开始 */
.home-hot{
	margin-top: 60px;
}
.home-hot .hot-header{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAfCAYAAABtYXSPAAACGElEQVRYhcXXP2gUQRTH8c/FI1ERFdSIjWChZcQ/YKEYEyUKYhGwC3aiaGPrn0KLVCKCEEQ0hTZBCJyIEBX/VCkUQbARxSKEgAb8gyKCCYZY7JgbzmST81bmwcHvzbyd/d57b2Z3SyrTCrYm7EEbvuMxRhdyYblgkI0YwPZo7Bcu4Sxy/3mRMG14hNZZ7nEaP9Cbt0BTQSBb8TQC+YnrGI5izmDZ/4bZgSdYFfyv6MRxWe+8CeNLsS1voUbLtBNDWB78z+jCy+BPYSKKX5S3WCOZ2Y0HEchH7I1A4DA2Bz1ZM1cYTCfuq/bAuKwkr6KYFlyM/GuyEhYK04V7sh6A9wHkdU3cKWwI+hPOz7dwvTAHcDcCGQsgb2viWnEu8i+YJyv1whwKIIuDP4p2vJsltle1l6BPduBNhfgB7K+9qKQynXcqfsPKoCfQHPQIOsx+zLfJGjV35wR7iCOy5q8rM82Rbp8DBC4vEIQsO8NYUy9MbGM5c/tQmuPXIjut+2Qlg024yd9lKmGFarPFZaqNa9S6MaiaxY6ink3/YndwI/J7UsLArUjvSg0zEum1qWHWRfpLapiDkX6eEqaMY5E/lBKmG+uDHsdgSpiTke7HZCqYLbKnPdlL11WKeyGv1+KsVPCBNDCr0RP5V/6IFDBHsSToF3iWCqaME5HfVzsZ20I/vIv4QB/H7Xgg5dbul+2kGUsFM7OdY/sN5wNlk04CDowAAAAASUVORK5CYII=");
	color: #00aeff;
    height: 30px;
    line-height: 30px;
    margin-bottom: 35px;
    padding-left: 48px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto 100%;
}
.home-hot .hot-header .title{
	font-size: 30px;
    color: #fff;
}
.home-hot .home-main{
	height: 380px;
}
.home-main span.other,.home-main .left-main span.left{
    display: none;
}
.home-main span img{
    width: 100%;
    max-height: 100%;
    cursor: pointer;
    border: 1px solid #223f5d;
}

.home-main .left-main,.home-main .right-sub{
    display: inline-block;
    float:left;
    box-sizing: border-box;
    position: relative;
}
.home-main span.left-main{
    width: 325px;
    height: 370px;
    margin-right: 11px;
}
.home-main span.right-sub {
    width: 370px;
    height: 180px;
}

.home-main span.right-sub.sub-one,.home-main span.right-sub.sub-three{
    margin-right: 11px;
}
.home-main span.right-sub.sub-one,.home-main span.right-sub.sub-two {
    margin-bottom: 9px;
}
.home-main span>span{
    display: none;
    text-align: center;
    background: rgba(0,0,0,.8);
    color: #fff;
    width: 100%;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
}

.home-main span.left-main>span{
    height: 370px;
    line-height: 370px;
    border: 1px solid #26BAFF;
}
.home-main span.right-sub>span{
    height: 180px;
    line-height: 180px;
    border: 1px solid #26BAFF;
}
.home-main>span:hover .other,.home-main>span:hover .left{
    display: block;
}
/* 人气热销结束 */

/* 最新周边开始 */
.home-new{
    margin: 60px auto 0;
    width: 1090px;
}
.common-section-header{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAgCAYAAAB3j6rJAAABmklEQVRYhe3XMWsUQRiH8d9GJQRCRDTGQrRJoY2NWAYMaBdBI8TORhGbWGlj4Yex1oTUKcQiTbx8gQQRxEZBiY2IiZzF7nrj3O6cRXbvAnlgm/m/M/vw7s4Om4GVroCLeId/Bg+IMeziEn7/HV3MHK8ofoDpBiRKzuAqNsPBsajoGJ40KFHyLB6IRa7gZAsidzGZElluQQIyLNSJjON+SyLwok5kTv6OtMVlXKgSed6iRMnTWGQW80MQeYjTocijIUjABJZCkaVE8Vf8TOS7xVXH/oD5j0ORD4nCVWwk8td4lcjf4mUi3yPfz6x057Guf9d8xzWcLRasy6GDqSjfx3V8kZ9f8ceyizsWs7WyI29wG++Dog5uYEfekQVsB/kWbhb5TlG7FeTbuFXMLfNOkH/EPazR60hoeV7ers+qGZTP4AQ+1eTngjy/cc3p2yvokUV5iirB1HroP2uGxqES+dG4hf8T2WvcwiF7NK1QtX1jMpwaBZEpfGtaZGQezZFITN070ncWNM3IdqSJH+8U4/jF8DsyObikZf4AJypIoA6uQggAAAAASUVORK5CYII=");
    color: #00aeff;
    height: 30px;
    line-height: 30px;
    margin-bottom: 35px;
    padding-left: 48px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto 100%;
}
.common-section-header .title{
    font-size: 30px;
    color: #fff;
}

.carrousel-container{
    height: 354px;
    position: relative;
    overflow: hidden;
}
.carrousel-container a.carrousel-item, .carrousel-container span.carrousel-item {
    width: 260px;
    height: 360px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.carrousel-item  .carrousel-item {
    background: #0f3963;
    position: relative;
}

/* 图片 */
.carrousel-container a.carrousel-item img.prod-img, .carrousel-container span.carrousel-item img.prod-img {
    max-width: 100%;
    height: 100%;
}
.carrousel-container a.carrousel-item.new .g-icon, .carrousel-container span.carrousel-item.new .g-icon {
    position: absolute;
    left: 25px;
    bottom: 110px;
    height: 30px;
}

.carrousel-container a.carrousel-item.new>span.prod-name, .carrousel-container span.carrousel-item.new>span.prod-name {
    color: #fff;
    bottom: 80px;
    font-size: 14px;
}
.carrousel-container a.carrousel-item.new>span, .carrousel-container span.carrousel-item.new>span {
    width: 100%;
    position: absolute;
    left: 0;
    text-align: left;
    padding: 0 25px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.carrousel-container a, .carrousel-container span {
    display: inline-block;
    float: left;
    margin-right: 12px;
}

.carrousel-container a.carrousel-item.new>span.prod-desc, .carrousel-container span.carrousel-item.new>span.prod-desc {
    color: #ff8602;
    font-size: 12px;
    bottom: 55px;
}
.carrousel-container a.carrousel-item.new>span.prod-price, .carrousel-container span.carrousel-item.new>span.prod-price {
    color: #fff;
    font-size: 12px;
    bottom: 30px;
}

/* 最新周边结束 */
/* 手办模型开始 */
.floor-container {
    width: 1090px;
    margin: 60px auto 0;
}
.common-section-header {
    color: #00aeff;
    height: 30px;
    line-height: 30px;
    margin-bottom: 35px;
    padding-left: 48px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto 100%;
    background-image:url(../img/mx.png); 
}
.common-section-header .title {
    font-size: 30px;
    color: #fff;
}
.floor-container .common-section-header .subCategory-info, .floor-container .common-section-header .view-more {
    cursor: pointer;
}
.float-right {
    float: right;
}
.floor-container .common-section-header .subCategory-info {
    margin-right: 40px;
    color: #738d9e;
}
.floor-container .common-section-header .subCategory-info li {
    margin-right: 10px;
}
.floor-container .floor-banner {
    width: 100%;
    height: 310px;
    margin-bottom: 20px;
    border: 1px solid #223f5d;
}
.common-section-header .sub-list li{
    float: left;
}
.carrousel-container {
    height: 354px;
    position: relative;
}

.carrousel-container a.carrousel-item.floor, .carrousel-container span.carrousel-item.floor {
    height: 340px;
}
.carrousel-container a.carrousel-item, .carrousel-container span.carrousel-item {
    width: 260px;
    height: 360px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.carrousel-container a.carrousel-item.floor .img-container, .carrousel-container span.carrousel-item.floor .img-container {
    position: relative;
    text-align: center;
    width: 260px;
    height: 260px;
    background: rgba(164,170,183,.2);
    border: 1px solid #264873;
    margin-right: 0;
    padding-top: 14px;
}
.floor-container  .carrousel-container a,.floor-container .carrousel-container span {
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.carrousel-container a.carrousel-item.floor .img-container .hover-enlarge, .carrousel-container span.carrousel-item.floor .img-container .hover-enlarge {
    width: 100%;
    height: 230px;
    line-height: 230px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.carrousel-container a.carrousel-item.floor .img-container .hover-enlarge img, .carrousel-container span.carrousel-item.floor .img-container .hover-enlarge img {
    vertical-align: middle;
    height: 230px;
    width: 230px;
}
.carrousel-container a.carrousel-item.floor .prod-name, .carrousel-container span.carrousel-item.floor .prod-name {
    color: #acacac;
    margin: 20px auto 10px;
    font-size: 15px;
    width: 100%;
    padding: 0 15px;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.carrousel-container a.carrousel-item.floor .prod-price, .carrousel-container span.carrousel-item.floor .prod-price {
    color: #00aeff;
    font-size: 14px;
}
.carrousel-container a.carrousel-item.floor .prod-name, .carrousel-container a.carrousel-item.floor .prod-price, .carrousel-container span.carrousel-item.floor .prod-name, .carrousel-container span.carrousel-item.floor .prod-price {
    width: 100%;
}
.carrousel-container a.last, .carrousel-container span.last {
    margin-right: 0;
}
.carrousel-container a.carrousel-item.floor .prod-price .discount.presale, .carrousel-container span.carrousel-item.floor .prod-price .discount.presale {
    background: #00aeff;
}
.carrousel-container a.carrousel-item.floor .prod-price .discount, .carrousel-container span.carrousel-item.floor .prod-price .discount {
    float: none;
    display: inline-block;
    background: #ed871d;
    color: #fff;
    padding: 2px 10px;
    margin-right: 12px;
}

/* 手办模型结束 */

/* 网页底开始 */
.body-bottom{
    width: 1090px;
    margin: 100px auto 0;
    border-top: 1px solid #244669; 
    padding: 63px 0;
    color: #a0aeb9;
    font-size: 14px;
}
.body-bottom>div{
    float: left;
    height: 200px;
    padding-top: 20px;
    box-sizing: border-box;
}
.body-bottom .bottom-l{
    width: 31%;
}
.body-bottom .bottom-m{
    width: 35%;
    padding-left: 60px;
    padding-right: 60px;
    border-left: 1px solid #244669;
    border-right: 1px solid #244669;
    position: relative;
}
.body-bottom .bottom-r{
    width: 34%;
    position: relative;
}
.body-bottom .b-title{
    text-align: center;
    margin-bottom: 45px;
    font-size: 14px;
}
.body-bottom .spacing{
    margin:20px 0 23px 0;
}
.body-bottom .l-kefu{
    background: url(../img/kf.png) no-repeat top;
    background-size: auto 28px;
    padding-top: 35px;
    margin:0 54px 0 92px;
    cursor: pointer;
    text-align: center;
}
.body-bottom .l-fankui{
    background: url(../img/fk.png) no-repeat top;
    background-size: auto 28px;
    padding-top: 35px;
    cursor: pointer;
    text-align: center;
}
.body-bottom .b-content{
    font-size: 12px;
}

.body-bottom .bottom-m img{
    display: inline-block;
    height: 20px;
    position: absolute;
    cursor: pointer;
}

.body-bottom .bottom-m .weChat{
    left: 131px;
}
.body-bottom .bottom-m .sinaBlog{
    left: 167px;
}
.body-bottom .bottom-r img{
    cursor: pointer;
}
.body-bottom .bottom-r .baoXue{
    height: 80px;
    position: absolute;
    top: 50px;
    left: 50px;
}
.body-bottom .bottom-r .wangYi{
    height: 60px;
    position: absolute;
    top: 60px;
    left: 170px;
}
/* 网页底结束 */

/* 底部开始 */
.footer{
    height: 300px;
    background: #1a1a1a;
    color: #a6a6a6;
    font-size: 12px;
    text-align: center;
    padding: 80px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;;
}
.footer .fix-width{
    width: 1090px;
    margin: auto;
    position: relative;
}
.footer .promises-list {
    padding-bottom: 30px;
    border-bottom: 1px solid #2c2c2c;
    color: #fff;
}
.footer .promises-list li {
    height: 51px;
    line-height: 51px;
    padding-left: 80px;
    margin-right: 80px;
    font-size: 16px;
   
}
.footer li{
     display: inline-block;
}
.footer .promises-list li.official {
    background: url(../img/bx.png) no-repeat 0 0;
    background-size: contain;
}
.footer .promises-list li.return {
    background: url(../img/wy.png) no-repeat 0 0;
    background-size: contain;
}
.footer .promises-list li.shipment {
    background: url(../img/bx.png) no-repeat 0 0;
    background-size: contain;
}
.footer .promises-list li.netease {
    background: url(../img/wy.png) no-repeat 0 0;
    background-size: contain;
}
.footer .link-list {
    padding: 15px 0 8px;
}
.footer .link-list li {
    font-size: 12px;
    padding: 0 20px;
    border-right: 1px solid #fff;
    height: 15px;
    line-height: 15px;
}
.footer .link-list li a{
   color: #a6a6a6; 
} 
.footer .licences li:last-child{
    border: none;
}
/* 底部结束 */





.inline-block {
    display: inline-block;
}

/* 清除浮动 */
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    overflow: hidden;
    font-size: 0;
    height: 0;
}

.clearfix{
    zoom: 1;
}
/* 清除浮动结束 */

/* 顶部鼠标经过 */
#topList li span:hover a,.t-left span:hover{
    color: #00A0FF;
    cursor: pointer;
}

/* 鼠标经过 */
.hover{
	color: #00A0FF;
	border-bottom: 1px solid #00A0FF;
}
/* 改变字体颜色 */
.color span,.color{
	color: #00A0FF;
}
/* 鼠标经过结束 */


